div> .ant-page-header-ghost {
    background-color: #fff;
}

div> .roundedButtons {
    display: flex;
    gap: 20px;
    margin-top: 2em;
}

div> .ant-page-header-heading-left {
    display: block;
}

.underHeadContainer {
    display: flex;
}

.underHeadContainer .chartToolbar {
    display: flex;
    margin-left: auto;
    align-self: flex-end;
    gap: 20px;
}

.chartToolbar svg {
    cursor: pointer;
}