div> .ant-page-header-ghost {
    background-color: #fff;
}

div> .roundedButtons {
    display: flex;
    gap: 20px;
    margin-top: 2em;
}

div> .ant-page-header-heading-left {
    display: block;
}

.underHeadContainer {
    display: flex;
}

.underHeadContainer .chartToolbar {
    display: flex;
    margin-left: auto;
    align-self: flex-end;
    gap: 30px;
}

.chartToolbar svg {
    cursor: pointer;
    transition:  0.2s linear; 
}

.chartToolbar .fundViewOutlined svg:hover {
    color: #1890ff;
}

.chartToolbar .fallOutlined svg:hover {
    color: #51bde7;
}

.chartToolbar .riseOutlined svg:hover {
    color: #63DAAB;
}